:root {
  --primary-color-text: #434455;
  --title-text-color: #2e2f42;
  --color-background: #e5e5e5;
  --backround-color-header: #ffffff;
  --primary-brand: #4d5ae5;
  --subtle-text: #8e8f99;
}
body {
  color: var(--primary-color-text);
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* header */

header {
  background-color: var(--backround-color-header);
}

.logo {
  color: var(--title-text-color);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  text-decoration: none;
  text-transform: uppercase;
}
.logo:hover,
.logo:focus {
  color: black;
}
.logo-web {
  color: #4d5ae5;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  text-decoration: none;
  text-transform: uppercase;
}
/* nav */
.site-nav .link {
  color: var(--title-text-color);
  font-family: "Roboto";
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  text-decoration: none;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: black;
}
.contact {
  color: var(--primary-color-text);
  text-decoration: none;
}
.contact:hover {
  color: black;
}

ul {
  list-style: none;
}
/* hero */
.hero {
  color: var(--backround-color-header);
  background-color: var(--title-text-color);
  font-weight: 600;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
}

.button {
  color: var(--backround-color-header);
  background-color: var(--primary-brand);
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.04em;
}

/* features */

.title-features {
  color: var(--title-text-color);
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
}

/*  */

.title-functions {
  color: var(--title-text-color);
  width: 322px;
  height: 40px;
  left: 559px;
  top: 1019px;
  font-weight: 600;
  font-size: 36px;
  line-height: 1.1;
}

/* team */

.title-team {
  color: var(--title-text-color);
  width: 162px;
  height: 40px;
  left: 639px;
  top: 1671px;
  font-weight: 600;
  font-size: 36px;
  line-height: 1.1;
}

.name-team {
  color: var(--title-text-color);
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
}

/* .profession {
  
} */

footer {
  background-color: var(--title-text-color);
  width: 1440px;
  height: 310px;
  left: 0px;
  top: 2283px;
}
.logo-footer {
  color: #f4f4fd;
  text-transform: uppercase;
  text-decoration: none;
}
.logo-footer :hover,
.logo-footer :focus {
}
.description {
  color: #e7e9fc;
}

/* portfolio */

.portfolio-button {
  color: var(--primary-brand);
  background-color: #e7e9fc;
  padding: 8px 16px;
  width: 116px;
  height: 48px;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
}

/* .portfolio-button :hover,
.portfolio-button :focus {
  background-color: var(--primary-brand);
  color: var(--backround-color-header);
} */

.portfolio-button :hover {
  color: var(--backround-color-header);
  background-color: var(--primary-brand);
}

.title-portfolio {
  color: var(--title-text-color);
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
}


